h1 {
    color: goldenrod;
    font-size: 100px;
    padding-top: 50px;
}

body {
    text-align: center;
    background-image: radial-gradient(green, darkgreen);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
}

p {
    font-size: xx-large;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 250px;
    height: 50px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
    font-size: xx-large;
    border: none;
    margin-bottom: 2px;
    margin-top: 2px;
}